/* ****************************************
CONTROL
**************************************** 
*/ 

/* body {
    background-color: aquamarine;
}  */
/* 


****************************************
RESET
**************************************** 
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
****************************************
COMMON
**************************************** 
*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* padding-left: 15%;
    padding-right: 15%;
     */
}

.height-200{
    height: 200px;
}

.margin-left{
    margin-left: 40px;
}
.margin-right{
    margin-right: 40px;
}

/* 
****************************************
TOP NAVIGATION BAR
**************************************** 
*/

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font: bold;
}

/* 
****************************************
MAIN AND SECTION 5
**************************************** 
*/
.main-container{
    width: 70%;
    height: 150px;
}

/* 
****************************************
COMMON SECTIONS 1,2,3
**************************************** 
*/

.card-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 );
    height: 150px; 
}

.card-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% / 3 ) *2);
    height: 150px; 
}

/* 
****************************************
UTILITIES
**************************************** 
*/

.bg-nav-bar{
    background-color: lightblue;
}
.bg-purple{
    background-color: rgb(74, 44, 158);
}
.bg-pink{
    background-color: rgb(207, 97, 229);
}
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: lightgray;
}
.bg-blue{
    background-color: rgb(55, 150, 232);
}
.bg-peach{
    background-color: rgb(243, 172, 183);
}
.bg-green{
    background-color: rgb(54, 125, 54);
}
.bg-rose{
    background-color: rgb(241, 102, 102);
}
.bg-teal{
    background-color: rgb(32, 193, 193);
}
.bd-yellow{
    background-color: rgb(245, 217, 78);
}

/* 
****************************************
*DEBUG
**************************************** 
*/